# Logisitic Regression : This is classification algorithm where predict categorical value means 0 or 1 / yes or no

In [1]:
#Import basic libraries
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
# To load the dataset 
df=pd.read_csv("insurance.csv")

In [3]:
#to show first 5 records
df.head()

   age  sex     bmi  children  smoker  region      charges  insuranceclaim
0   19    0  27.900         0       1       3  16884.92400               1
1   18    1  33.770         1       0       2   1725.55230               1
2   28    1  33.000         3       0       2   4449.46200               0
3   33    1  22.705         0       0       1  21984.47061               0
4   32    1  28.880         0       0       1   3866.85520               1

In [4]:
df.shape

(1338, 8)

In [5]:
#details of data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             1338 non-null   int64
 1   sex             1338 non-null   int64
 2   bmi             1338 non-null   float64
 3   children        1338 non-null   int64
 4   smoker          1338 non-null   int64
 5   region          1338 non-null   int64
 6   charges         1338 non-null   float64
 7   insuranceclaim  1338 non-null   int64
dtypes: float64(2), int64(6)
memory usage: 83.8 KB

In [ ]:
#Here Target variable insuranceclaim means claim or not if claim then 
#considered 1 and not claim : considered : 0

In [6]:
#Separate the target means output variable and separate the input variable
#from dataset
X=df.drop("insuranceclaim",axis=1) #input features
Y=df["insuranceclaim"] #target means labelled output

In [7]:
X.head()

   age  sex     bmi  children  smoker  region      charges
0   19    0  27.900         0       1       3  16884.92400
1   18    1  33.770         1       0       2   1725.55230
2   28    1  33.000         3       0       2   4449.46200
3   33    1  22.705         0       0       1  21984.47061
4   32    1  28.880         0       0       1   3866.85520

In [8]:
X.shape  #input shape

(1338, 7)

In [9]:
Y.head()

0    1
1    1
2    0
3    0
4    1
Name: insuranceclaim, dtype: int64

In [10]:
#train_test_split means we divide data into 70% and 30%  from dataset 
#call class train_test_split
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.3,random_state=1)

In [11]:
#we want to predict categorical data means 1 or 0 , 1 means yes and 0 means no
#We use classification algorithm
#use Logistic Regression : inbuilt class
from sklearn.linear_model import LogisticRegression

In [12]:
#Create the object of LogisticRegression similar to LinearRegression
lr=LogisticRegression()

In [13]:
#we train the model : use fit() method inbuilt method of LogisticRegression class
lr.fit(X_train,Y_train) #train the model with 70% training data

LogisticRegression()

In [14]:
#We test the model means use inbuilt function predict() : inbuilt function
#of Logistic Regression
Y_pred=lr.predict(X_test) #testing the model  with 30% data

In [15]:
Y_pred

array([1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1,
       1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1,
       0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1,
       0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1,
       1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0,
       0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1,
       1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0,
       1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1,
       0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1,
       1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1,
       1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1,
       1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0,
       0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0,
       1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1,
       1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1,
       0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1,
       0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1,
       0, 1, 1, 1, 1, 1], dtype=int64)

In [16]:
#Evaluation matrics : -
#score() inbuilt  function of Logistic regression it is similar to 
#accuracy score
lr.score(X_test,Y_test) #on testing time

0.8059701492537313

In [17]:
from sklearn.metrics import classification_report
#classification_report inbuilt class which generate classification report
# means give recall,precision,accuracy and f1-score

In [18]:
print(classification_report(Y_test,Y_pred))

              precision    recall  f1-score   support

           0       0.77      0.71      0.74       157
           1       0.82      0.87      0.84       245

    accuracy                           0.81       402
   macro avg       0.80      0.79      0.79       402
weighted avg       0.80      0.81      0.80       402

In [19]:
#confusion_matrix : inbuilt class
from sklearn.metrics import confusion_matrix

In [20]:
confusion_matrix(Y_test,Y_pred)

array([[112,  45],
       [ 33, 212]], dtype=int64)

In [21]:
#ravel() inbuilt function or flattern() : to converts 2D(2 dimensional matrix)into 1D
#(means One dimensional matrix) and return answer in 4 parameter
TP,FP,FN,TN=confusion_matrix(Y_test,Y_pred).ravel()
print("True Positive TP : ",TP)
print("False Positive FP : ",FP)
print("False Negative FN : ",FN)
print("TrueNegative TN : ",TN)

True Positive TP :  112
False Positive FP :  45
False Negative FN :  33
TrueNegative TN :  212